id=izzy-firefox-esr@iss.lsa.umich.edu
name=Izzy / MiWorkspace Firefox Configuration
version=1.0
ffMinVersion=10
ffMaxVersion=*
homepageURL=http://www.umich.edu
updateURL=https://izzyfile.dsc.umich.edu/clients/firefox/firefox.rdf
hidden=true
OrganizationName=UnivOfMich
HomePageURL=http://www.umich.edu
noWelcomePage=true
noOverridePage=true
bookmarksbar=true
ToolbarFolder1=My Cool Folder
ToolbarFolder1.BookmarkTitle1=My Bookmark
ToolbarFolder1.BookmarkURL1=http://jobs.microsoft.com
ToolbarFolder1.BookmarkTitle2=Second Bookmark
ToolbarFolder1.BookmarkURL2=http://apple.com
ToolbarBookmarkTitle1=Another Bookmark
ToolbarBookmarkURL1=http://jobs.apple.com
ToolbarLocation=First
BookmarkFolder1=Third Folder
BookmarkFolder1.BookmarkTitle1=Third Bookmark
BookmarkFolder1.BookmarkURL1=http://izzy.lsa.umich.edu
BookmarkTitle1=What does this do
BookmarkURL1=http://ihave.no.idea.com
BookmarkLocation=Last
PreferenceName1=app.update.autoUpdateEnabled
PreferenceValue1=false
PreferenceType1=boolean
PreferenceName2=app.update.enabled
PreferenceValue2=false
PreferenceType2=boolean
networkProxyType=0
networkProxyHTTP_Port=0
networkProxySSL_Port=0
networkProxyFTP_Port=0
networkProxySOCKS_Port=0
defaultBookmarksToRemove=mostVisited,gettingStarted,recentlyBookmarked,recentTags,firefoxFolder
